<% 
    const {
        album_type,
        artists,
        copyrights,
        external_urls:{spotify:spotifyUrl},
        images:albumImages,
        name:albumName,
        release_date,
        total_tracks,
        uri:albumUri,
        tracks:{items:albumTracks}
    }   = locals.albumDetail;

    const artistName =  artists.map(item => item.name).join(', ');


    const {
        url:detailBanner = '/images/album-banner.png',
        width:detailBannerWidth = 300,
        height:detailBannerHeight = 300
    } = albumImages[0] ?? {}

    const {
        firstArtist,
        items:moreAlbum,
        next:moreByArtistNext
    } = locals.moreByartist
    

 %> 

<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../layouts/head',{title:`${albumName} de ${artistName} | Musify`}) %> 
   <link rel="stylesheet" href="/css/details.css">
   <style>
        .page::before {
            background-image: url("<%= detailBanner %>");
        }

        .list-item .item-content {
            grid-template-columns: minmax(0,1fr) 42px;
        }

        .list-item .item-number {
            position: relative;
            display: block;
            width: 28px;
        }
   </style>
</head>
<body>
    <%- include('../layouts/recent_played',{recentlyPlayed:locals.recentlyPlayedTracks}) %> 
    <article class="page custom-scrollbar" data-page>
       
        <%- include('../partials/top_bar.ejs',locals.currentProfile) %>
        <%- include('../partials/bottom_nav') %>

        <div class="main" data-main>
            <section class="detail-header">
                <figure class="img-holder detail-banner">
                    <img src="<%=detailBanner%>" width="<%= detailBannerWidth %>" height="<%= detailBannerHeight %> " alt="<%= albumName %> " class="img-cover" data-image-load-anim>
                </figure>

                <div class="detail-content">
                    <p class="label-large detail-subtitle">
                        <%= album_type %> 
                    </p>
                    <h2 class="headline-large detail-title">
                        <%= albumName %> 
                    </h2>

                    <div class="detail-text has-separator">
                        <% artists.forEach(({name}) => { %>
                         <p class="label-large"><%= name %> </p>
                         <span class="separator"></span>
                        <% }) %>

                        <p class="label-large">
                            <%=  new Date(release_date).getFullYear() %> 
                        </p>
                        <span class="separator"></span>
                        <p class="label-large">
                            <%= total_tracks %> Músicas 
                        </p>
                    </div>
                    <div class="detail-actions">
                        <%- include('../partials/play_btn',{
                            variant:'filled',
                            dataAttr:`data-uri="${albumUri}"`
                        })%> 
                        <a href="<%= spotifyUrl %>" target="_blank" class="btn btn-outline has-icon" data-ripple>
                            <img src="/images/spotify-primary.svg" width="18" height="18" alt="">
                            <span class="label-large">Ouvir no Spotify</span>
                            <div class="state-layer"></div>
                        </a>
                    </div>
                </div>
            </section>
            <div class="divider"></div>
            <section class="list-container">
                <div class="list-header" data-list-header>
                    <div class="number-col body-large">
                        #
                    </div>
                    <div class="col body-large">
                        Titúlo
                    </div>
                    <div class="duration-col">
                        <span class="material-symbols-rounded">schedule</span>
                    </div>
                </div>
                <div class="list">
                    <% albumTracks.forEach(({artists,duration_ms,id,name:title,uri:trackUri},index) => { %>
                        <% const text = artists.map(({name}) => name).join(', ')
                         index++ 
                        %> 
                        <%- include('../partials/list_item',{
                            title,
                            text,
                            duration_ms,
                            id,
                            trackNumber: index,
                            trackUri
                        }) %> 
                    <% }) %>
                </div>
            </section>
            <section class="copyright">
                <p class="body-medium">
                    <%= new Date(release_date).toLocaleDateString() %> 
                </p>
                <% copyrights.forEach(({text}) => { %>
                    <p class="label-small"><%= text %> </p>
                <% }) %>
            </section>
            <% if (moreAlbum.length) { %>
                <section class="section">
                    <% const {name,id} = firstArtist %> 
                    <div class="title-wrapper">
                        <h2 class="title-large section-title">
                           Ouça mais de <%= name  %> 
                        </h2>
                        <% if (moreByArtistNext !== null) { %>
                            <a href="/artist/<%= id %>/album " class="btn btn-link" data-ripple>
                                <span class="label-large">Ver discografia</span>
                                <div class="state-layer"></div>
                            </a>
                        <% } %>
                    </div>
                    <div class="slider" data-slider>
                        <div class="slider-inner">
                            <% moreAlbum.forEach(({id,images,name:title,release_date,uri}) => { %>
                                    <% 
                                        const text = new Date(release_date).getFullYear()
                                        const image = images.find(item => item.width === 300)   
                                    %> 
                                    <%- include('../partials/card',{
                                        image,
                                        type:'album',
                                        title,
                                        text,
                                        link:`/album/${id}`,
                                        uri
                                    }) %> 
                            <% }) %>
                        </div>
                    </div>
                </section>
            <% } %>

        </div>
      


        <%- include('../layouts/footer')  %> 
        <%- include('../partials/player_sm') %> 
        <%- include('../partials/player_lg') %> 

    </article>
   
    
</body>
</html>