<% 
    const { 
        items:albumItems
    } = locals.albums

 %> 

<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../layouts/head',{title:`${locals.title} | Musify`}) %> 

   <% if (locals.isArtistAlbum) { %>
    <style>
        .card .card-text {
            text-transform: capitalize;
        }
    </style>
    
   <% } %>
   
</head>
<body>
    <%- include('../layouts/recent_played',{recentlyPlayed:locals.recentlyPlayedTracks}) %> 
    <article class="page custom-scrollbar" data-page>
       
        <%- include('../partials/top_bar.ejs',locals.currentProfile) %>
        <%- include('../partials/bottom_nav',{currentRoute:'/album'}) %>

        <div class="main" data-main>
            <section class="section">
                <div class="title-wrapper">
                    <h2 class="title-large section-title"><%= locals.title%></h2>
                </div>
                <div class="grid-list">
                   <% albumItems.forEach(({id,images,name:title,artists,release_date,album_type,uri}) => { %>
                        <% 
                            let year,text

                            if (locals.isArtistAlbum) {
                                year = new Date().getFullYear()
                            }else {
                                text = artists.map(({name}) => name).join(', ')
                            }

                            const image = images.find(item => item.width === 300)
                        %> 

                        <%- include('../partials/card',{
                            image,
                            type:'album',
                            title,
                            year,
                            link:`/album/${id}`,
                            uri
                        })%> 
                   <% }) %>
                </div>

                <%- include('../partials/pagination',locals.albums) %> 
            </section>
        </div>
      


        <%- include('../layouts/footer')  %> 
        <%- include('../partials/player_sm') %> 
        <%- include('../partials/player_lg') %> 

    </article>
   
    
</body>
</html>