<% const {artists:recommendedArtistItems}=locals.recommendedArtists,
  {items:newReleaseItems,next:newReleaseNext}=locals.newRelease,
  {message:featuredPlaylistTitle,playlists:{items:featuredPlaylistItems,next:featuredPlaylistNext}}=locals.featuredPlaylist,
  {playlists: {items:topPlaylistItems,next:topPlaylistNext}} = locals.topPlaylist
  %>

  <!DOCTYPE html>
  <html lang="en">

  <head>
    <%- include('../layouts/head.ejs',{title: 'Home | Musify' }) %>
  </head>

  <body>

    <%- include('../layouts/recent_played',{recentlyPlayed:locals.recentlyPlayedTracks}) %> 
    <article class="page custom-scrollbar" data-page >
      <%- include('../partials/top_bar.ejs',locals.currentProfile) %>
        <%- include('../partials/bottom_nav',{currentRoute:'/'}) %>

          <div class="main" data-main>
            <% if (locals.recommendedAlbuns.length) { %>
              <section class="section new-release">
                <div class="title-wrapper">
                  <h2 class="title-large section-title">Àlbuns recomendados</h2>
                </div>
                <div class="slider" data-slider>
                  <div class="slider-inner">
                    <% locals.recommendedAlbuns.forEach(({album:{artists,images,name:title,id,uri}})=> {%>
                      <% const text=artists.map(({name})=> name ).join(', ')
                        const image = images.find(item => item.width === 300)
                        %>
                        <%- include('../partials/card',{ image, type:'album', title, text, link: `/album/${id}`, uri })
                          %>
                          <% })%>



                  </div>
                </div>
              </section>
              <% } %>

                <% if (recommendedArtistItems.length) { %>
                  <section class="section">
                    <div class="title-wrapper">
                      <h2 class="title-large section-title">Artistas recomendados</h2>
                    </div>
                    <div class="slider">
                      <div class="slider-inner">
                        <% recommendedArtistItems.forEach(({name:title,type,images,id,uri})=> { %>
                          <% const [image]=images || []%>
                            <%- include('../partials/card',{variant:'artist-card',title,image,type,text:type,
                              link:`/artist/${id}`, uri }) %>
                              <% }) %>
                      </div>
                    </div>
                  </section>
                  <% } %>

                    <section class="section">
                      <div class="title-wrapper">
                        <h2 class="title-large section-title">Lançamentos</h2>
                        <% if (newReleaseNext !==null) { %>
                          <a href="/album" class="btn btn-link" data-ripple>
                            <span class="label-large">Ver todos</span>
                            <div class="state-layer"></div>
                          </a>
                          <% } %>
                      </div>
                      <div class="slider">
                        <div class="slider-inner">
                          <% newReleaseItems.forEach(({id,images,name:title,artists,uri})=> { %>
                            <% const text=artists.map(({name})=> name).join(', ') %>
                              <% const image=images.find(item=> item.width === 300)%>

                                <%- include('../partials/card',{ image, type:'album', title, text,
                                  link:`/album/${id}`,uri }) %>
                                  <% }) %>
                        </div>
                      </div>
                    </section>

                    <section class="section">
                      <div class="title-wrapper">
                        <h2 class="title-large section-title">
                          <%= featuredPlaylistTitle %>
                        </h2>
                        <% if (featuredPlaylistNext !==null) { %>
                          <a href="/playlist" class="btn btn-link" data-ripple>
                            <span class="label-large">Ver Mais</span>
                            <div class="state-layer"></div>
                          </a>
                          <% } %>
                      </div>
                      <div class="slider">
                        <div class="slider-inner">
                          <% featuredPlaylistItems.forEach(({id,images,name:title,description,uri}) => { %>
                              <% const [image] = images || [] %>
                              <%- include('../partials/card',{image,type:'playlist',title,text:description,link:`/playlist/${id}`,uri}) %>  
                          <% }) %>
                        </div>
                      </div>
                    </section>
                    <section class="section">
                      <div class="title-wrapper">
                        <h2 class="title-large section-title">Melhores playlists</h2>
                        <% if (topPlaylistNext !== null) { %>
                          <a href="/explore/toplists" class="btn btn-link" data-ripple>
                            <span class="label-large">Ver mais</span>
                            <div class="state-layer"></div>
                          </a>
                        <% } %>
                      </div>
                      <div class="slider">
                        <div class="slider-inner">
                          <% topPlaylistItems.forEach(({id,images,name:title,description,uri}) => { %>
                            <% const [image] = images || [] %>
                            <%- include('../partials/card',{image,type:'playlist',title,text:description,link:`/playlist/${id}`,uri}) %>  
                          <% }) %>
                        </div>
                      </div>
                    </section>

          </div>
          <%- include('../layouts/footer')  %> 
          <%- include('../partials/player_sm') %> 
          <%- include('../partials/player_lg') %> 
    </article>


  </body>