<% 
    const {
        albums: {
            total:totalSearchAlbum,
            items:searchAlbumsItems
        },
        artists:{
            total:totalSearchArtist,
            items:searchArtistItems
        },
        tracks:{
            total:totalSearchTracks,
            items:searchTracksItems
        },
        playlists:{
            total:totalSearchPlaylists,
            items:searchPlaylistsItems
        }
    } = locals.searchAll

    
 %> 



<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../layouts/head',{title:`Pesquisa | Musify`}) %> 
    <style media="(min-width: 992px;)">
        .list {
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }

        .list-item .item-content {
            grid-template-columns: minmax(0,1fr) 42px;
        }
    </style>
</head>
<body>
 <%- include('../layouts/recent_played',{recentlyPlayed:locals.recentlyPlayedTracks}) %> 
 <article class="page custom-scrollbar" data-page>
    
     <%- include('../partials/top_bar.ejs',{...locals.currentProfile,
    query}) %>
     <%- include('../partials/bottom_nav') %>
    <%- include('../layouts/search_filter',{
        searchAll:locals.searchAll,
        type:locals.type
    }) %> 
     <div class="main" data-main>
        <% if (totalSearchTracks) { %>
         <section class="section">
            <div class="title-wrapper">
                <h2 class="section-title title-large">
                    Músicas
                </h2>
            </div>
            <div class="list">
                <% searchTracksItems.forEach(({album:{images},artists,duration_ms,id,name:title,uri:trackUri}) => { %>
                    <%  const text = artists.map(({name}) =>name).join(', ') %>
                    <%- include('../partials/list_item',{
                        title,
                        images,
                        text,
                        duration_ms,
                        id,
                        trackUri
                    })  %>  
                <% }) %>
            </div>
         </section>
        <% } %>
        <% if (totalSearchAlbum) { %>
            <section class="section">
               <div class="title-wrapper">
                   <h2 class="section-title title-large">
                       Álbuns
                   </h2>
               </div>
               <div class="slider" data-slider>
                    <div class="slider-inner">
                        <% searchAlbumsItems.forEach(({id,images,name:title,artists,
                        release_date,uri}) => { %>
                                <%
                                    const year = new Date(release_date).getFullYear()

                                    const text = artists.map(({name}) => name).join(', ')

                                    const image = images.find(item => item.width === 300)
                                 %>                                
                                 <%- include('../partials/card',{
                                    image,
                                    type:'album',
                                    title,
                                    text,
                                    year,
                                    link:`/album/${id}`,
                                    uri}) %>
                         <% }) %>
                    </div>
               </div>
            </section>
        <% } %>

        <% if (totalSearchArtist) { %>
            <section class="section">
               <div class="title-wrapper">
                   <h2 class="section-title title-large">
                       Artistas Relacionados
                   </h2>
               </div>
               <div class="slider" data-slider>
                    <div class="slider-inner">
                        <% searchArtistItems.forEach(({id,images,name:title,type,uri}) => { %>
                                <%
                                    const [image] = images || []
                                 %>                                
                                 <%- include('../partials/card',{
                                    variant:'artist-card',
                                    image,
                                    type:'artist',
                                    title,
                                    text:type,
                                    link:`/artist/${id}`,
                                    uri
                                }) %>
                         <% }) %>
                    </div>
               </div>
            </section>
        <% } %>
        <% if (totalSearchPlaylists) { %>
            <section class="section">
               <div class="title-wrapper">
                   <h2 class="section-title title-large">
                       Playlists
                   </h2>
               </div>
               <div class="slider" data-slider>
                    <div class="slider-inner">
                        <% searchPlaylistsItems.forEach(({id,images,name:title,owner,uri}) => { %>
                                <%

                                    const [image] = images || []

                                    const text = `Por ${owner.display_name}`                                 %>                                
                                 <%- include('../partials/card',{
                                    image,
                                    type:'playlist',
                                    title,
                                    text,
                                    link:`/playlist/${id}`,
                                    uri
                                }) %>
                         <% }) %>
                    </div>
               </div>
            </section>
        <% } %>


     </div>
   
     <%- include('../layouts/footer')  %> 
     <%- include('../partials/player_sm') %> 
     <%- include('../partials/player_lg') %> 

 </article>

 
</body>
</html>