<% 
  const {
    items:searchAlbumItems
  } =  locals.searchAlbum 
%>


<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../layouts/head',{title:`Pesquisa | Musify`}) %> 
    
</head>
<body>
 <%- include('../layouts/recent_played',{recentlyPlayed:locals.recentlyPlayedTracks}) %> 
 <article class="page custom-scrollbar" data-page>
    
     <%- include('../partials/top_bar.ejs',locals.currentProfile) %>
     <%- include('../partials/bottom_nav') %>
     <%- include('../layouts/search_filter',{
        type:locals.type
    }) %> 
     <div class="main" data-main>
        <section class="section">
          <div class="grid-list">
       
        <% searchAlbumItems.forEach(({id,images,name:title,artists,
            release_date,uri}) => { %>
                    <%
                        const year = new Date(release_date).getFullYear()

                        const text = artists.map(({name}) => name).join(', ')

                        const image = images.find(item => item.width === 300)
                     %>                                
                     <%- include('../partials/card',{
                        image,
                        type:'album',
                        title,
                        text,
                        year,
                        link:`/album/${id}`,
                        uri}) %>
             <% }) %>
      </div>
      <%- include('../partials/pagination',locals.searchAlbum) %>
    </section>

     </div>
   
     <%- include('../layouts/footer')  %> 
     <%- include('../partials/player_sm') %> 
     <%- include('../partials/player_lg') %> 

 </article>

 
</body>
</html>