<% 
  const {
    items:searchTrackItems,
    limit,
    page
  } =  locals.searchTrack
%>


<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../layouts/head',{title:`Pesquisa | Musify`}) %> 
    
</head>
<body>
 <%- include('../layouts/recent_played',{recentlyPlayed:locals.recentlyPlayedTracks}) %> 
 <article class="page custom-scrollbar" data-page>
    
     <%- include('../partials/top_bar.ejs',locals.currentProfile) %>
     <%- include('../partials/bottom_nav') %>
     <%- include('../layouts/search_filter',{
        type:locals.type
    }) %> 
     <div class="main" data-main>
        <section class="section">
          <div class="list">
            <% searchTrackItems.forEach(({album:{images,name:albumName},artists,duration_ms,id,name:title,uri:trackUri},index) => { %>
                <%  const text = artists.map(({name}) =>name).join(', ') 
                    index = (index + 1) + (limit * (page - 1))
                %>
                <%- include('../partials/list_item',{
                    title,
                    images,
                    text,
                    duration_ms,
                    id,
                    trackNumber:index,
                    albumName,
                    trackUri
                })  %>  
            <% }) %>
            
         </div>
      <%- include('../partials/pagination',locals.searchTrack) %>
    </section>

     </div>
   
     <%- include('../layouts/footer')  %> 
     <%- include('../partials/player_sm') %> 
     <%- include('../partials/player_lg') %> 

 </article>

 
</body>
</html>